$baseColor: #333
.wiki-content
    h1,h2
        color: #fff
    h1
        padding-left: 10px
        background-image: linear-gradient(90deg, #000000 0%, #FFFFFF 100%)
        border-radius: 5px 0 0 0
        line-height: 1.5
    h2
        padding-left: 10px
        background-image: linear-gradient(90deg, #444444 0%, #FFFFFF 80%)
    h3
        border-left: 8px solid $baseColor
        padding-left: 10px
    p
        margin: 0