$baseColor: #f63
#header-precursor
    display: none

.wiki-content
    > *
        z-index: 1

    h1
        border-left: 15px solid $baseColor
        padding-left: 10px
    h2
        border-left: 10px solid $baseColor
        padding-left: 10px
    h3
        border-left: 8px solid $baseColor
        padding-left: 10px
    p
        margin: 0

    .toc-macro
        position: fixed
        right: 20px
        top: 100px
        max-height: calc(100vh - 100px)
        background-color: rgba(255, 255, 255, 0.56)
        overflow-y: auto
        opacity: 0.3
        &:hover
            opacity: 1
            z-index: 1
        ul
            list-style-type: none
            padding-left: 20px
        & > ul
            padding-left: 0
            & > li > span
                font-weight: bold
        .toc-item-body